.images {
  height: 60px;
  width: 60px;
}
#error {
  color: red;
  font-weight: bold;
  display: none;
}
#form,
#title {
  display: none;
}
#submit {
  bottom: 1000px;
}
.item {
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
}
